root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
charset = utf-8
indent_size = 2

[*.yml]
indent_size = 2

[*.js]
max_line_length = 100

[*.json]
indent_size = 2

[*.ts]
max_line_length = 120

[*.md]
max_line_length = off

[Makefile]
indent_style = tab
